# Sphinx documentation
docs/_build
docs/_static

# SQLite databases
*.sqlite
*.sqlite3

# Translation files
*.mo
*.pot

# Unit testing and coverage
.tox
.coverage
.cache
nosetests.xml
coverage.html
htmlcov/

# Log files
*.log

# And some various stuff that should not be in source control
local_settings.py
